---

{% for resource in all_resources -%}
{% set module, resource_id_name, region, resource_id = resource.split(',') -%}
{% set resource_name = module.split('.')[2] -%}
{% if resource_name == 'oci_dns_resolver_endpoint' -%}
{% for item in ['forwarder', 'listener'] -%}
- name: Delete {{ resource_name }} {{ resource_id }}
  {{ module }}:
    {{ resource_id_name }}: {{ resource_id }}
    region: {{ region }}
    name: {{ item }}
    scope: PRIVATE
    state: absent
    wait_timeout: 60
  ignore_errors: True
  register: _delete_result
  retries: 3
  delay: 10
  until: _delete_result is succeeded

{% endfor -%}
{% else -%}
- name: Delete {{ resource_name }} {{ resource_id }}
  {{ module }}:
    {{ resource_id_name }}: {{ resource_id }}
    region: {{ region }}
    state: absent
{% if resource_name != 'oci_compute_management_instance_configuration' -%}
{%- if resource_name == 'oci_compute_management_instance_pool' %}
    wait_timeout: 300
{% else %}
    wait_timeout: 120
{% endif -%}
{%- endif %}
  ignore_errors: True
  register: _delete_result
  retries: 3
  delay: 10
  until: _delete_result is succeeded

{% endif -%}
{% endfor -%}
