[{{ ansible_env.OCI_CONFIG_PROFILE | default('DEFAULT') }}]
user={{ ansible_env.OCI_USER_ID }}
fingerprint={{ ansible_env.OCI_USER_FINGERPRINT }}
tenancy={{ ansible_env.OCI_TENANCY }}
region={{ ansible_env.OCI_REGION }}
key_file={{ ansible_env.HOME }}/.oci/oci_api_key.pem
